@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: blue;
  text-decoration: underline;
}

body {
  font-family: monospace;
  font-size: 16px;
}

code {
  border: 1px solid #ddd;
  padding: 0px 1px;
  background-color: #eee;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}
h2 {
  font-size: 1.25em;
  font-weight: bold;
}
